  body {
  font-family:georgia,times new roman,courier new,courier;
  text-align:center; /* IE FIX TO CENTER CONTAINER */
  }
  
  div.center {
  text-align:center;
  }
  
  div.clear {
  clear:both;
  }
  
  
 
  a.logo { 
  text-decoration:none; 
  font-size:40px; 
  font-weight:bold; 
  color:#49A3FF;
  text-shadow: 0px 1px 0px #0070E2; 
  }
  
  a.logo:hover { color:#0070E2; }
    
  #container {
  width:700px;
  margin-left:auto;
  margin-right:auto;
  border:10px solid #B7DBFF;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  }
  
  div.post {
   border-top: 1px solid #CFCFCF;
   padding:10px;
 
  }
  
  div.post_left {
   float:left;
   padding:10px;
   text-align:center;
   background:#E7F3FF;
   margin-right:10px;
   margin-bottom:10px;
   -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  }
  
  div.post_left span.day {
  font-family:arial,arial black;
  font-weight:bold;
  font-size:50px;
  color:#737373;
  text-shadow: 0px 1px 0px #666666;
  }
  
  div.post_left span.month {
  font-family:arial,arial black;
  font-size:25px;
  font-weight:bold;
  color:#737373;
  text-shadow: 0px 1px 0px #666666;
  }
  
  div.post_left span.year {
  font-family:arial,arial black;
  font-size:15px;
  border:1px solid #CFCFCF;
  padding-left:30px;
  padding-right:30px;
  color:#999797;
  text-shadow: 0px 1px 0px #666666;
  }
  
  
  div.post_right {
  text-align:justify;
  padding:5px;
  }
  
  div.post_right span.quote {
   font-family:verdana,tahoma,helvetica;
   font-size:25px;
  }
  
  span.quote_left {
  font-size:30px;
  margin:5px;
  }
  
  span.quote_right {
  font-size:30px;
  margin:5px;
  }
