body {
  font-family: Constantia, Georgia, "Bitstream Vera Serif", "Liberation Serif", serif;
  padding: 0;
  margin: 0;
}

/* Links */
a {
  color: #559;
  text-decoration: none;
}
a:visited {
  color: #539;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: 0;
}

/* Headings */
h1,h2,h3,h4,h5,h6,ul.pager,#profile-menu {
  font-family: Calibri, Helvetica, "Liberation Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0.75em 0 0.25em 0;
}
h1 {
  margin: 0;
}
h1 a, h1 a:visited, h1 a:hover {
  color: black;
  text-decoration: none;
}

#header {
  background-color: rgb(189, 198, 212);
  padding: 1em;
  position: relative;
}
#content {
  padding: 0 1em;
}

.quote-list {
  clear: left;
  padding-top: 1px;
}
.quote-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.quote-list ul li {
  border-bottom: 1px solid #eee;
  padding: 1em 0;
}
.quote-list ul li:hover {
  background-color: #f8f8f8;
}

/* Quotes */
blockquote {
  color: #aaa;
  font-size: small;
  margin: 0 1em 0 1.5em;
}
blockquote p {
  color: #555;
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
}
blockquote span.quote {
}
blockquote span.left {
  float: left;
  margin-left: -0.4em;
}
blockquote span.right {
}
.quote-tools {
  float: right;
  display: none;
}
li:hover .quote-tools {
  display: inline;
}
.quotee {
  vertical-align: middle;
  margin: 0.75em 0 0.25em 0;
}
.quotee img {
  float: left;
}
.quotee h2 {
  margin: 0;
  padding: 0.25em 0 0 0.25em;
  float: left;
}

.user {
  float: left;
  padding: 0.5em;
  text-align: center;
  display: block;
}
.user:hover {
  background: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.user img {
  display: block;
  padding: 0 1em;
}
.user span.username {
}

/* Profile menu */
#profile-menu {
  list-style: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  margin: 1em;
  background-color: #eee;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#profile-menu li {
  display: inline;
  padding: 0 0.5em;
  margin: 0;
  border-right: 2px solid #aaa;
}
#profile-menu li:last-child {
  border-right: 0;
}

/* Pagination */
ul.pager {
  list-style: none;
  text-align: center;
}
ul.pager li {
  display: inline;
}

/* Forms */
.field label {
  font-weight: bold;
  display: block;
}

form.add.quote span.quote {
  font-size: 24px;
}
form.add.quote span.left {
  padding-right: 0.25em;
}
form.add.quote span.right {
  padding-left: 0.25em;
}
input#quote-body {
  width: 30em;
  font-size: 16px;
}
form.add.quote label {
  display: none;
}

/* Success, notice and error boxes */
.error,
.notice,
.success    { padding: .8em; margin-bottom: 1em; margin-top: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
