{{#quotes}}
        <div class="post">
          <div class="datetime">
            {{date}}<br>
            <a href="quotes/">{{rank}}</a><br>
          </div>
          <p><span class="short_quote">{{quote}}</span></p>
          <p>—{{source}}</p>
        </div>
{{/quotes}}
