<div class="quote-list">
  <h2>Recent Quotes</h2>
  <ul>
  {{#quotes}}
  <li>
    <p><span class="left quote">&ldquo;</span>{{body}}<span class="right quote">&rdquo;</span></p>&mdash;
  </li>
  {{/quotes}}
</ul>
  {{<quotes}}
</div>

{{{pager}}}
