<h2>Add New Quote</h2>

<form action="/" method="post" accept-charset="utf-8" class="add quote">
  <label for="quote-body">Quote</label>
  <span class="left quote">&ldquo;</span><input type="text" name="quote_body" value="" id="quote-body" /><span class="right quote">&rdquo;</span>
    <span class="left quote">&ldquo;</span><input type="text" name="coeder" id="coeder" /><span class="right quote">&rdquo;</span>
  <input type="submit" value="Add Quote" />
</form>
