<style>
fieldset.myform {
width:200px;
}
</style>

<form method="post" action="/">
  <fieldset class="myform">
    <legend>add cit.</legend>
    Quote:<br /> 
	<input type="text" size="30" name="body" value=""/><br />
    Source:<br />
	<input type="text" size="30" name="source" value=""/><br />
	<br />
	<input type="submit" style="float:right;" value="submit :D" />
  </fieldset>
</form>
